# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/

# Ignore PyCharm project files
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig

# Ignore test coverage reports
.coverage
*.cover
coverage.xml
*.lcov

# Ignore build artifacts
build/
dist/
*.egg-info/
.eggs/

# Ignore cache files
.cache/
*.mypy_cache/
.pytest_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other IDE/editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace